* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2rem;
}

p {
    font-family: Montserrat;
    font-weight: bold;
    padding: 2rem 2rem;
}